.profile__info {
  max-width: 336px;
  height: 76px;
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center; */
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 650px){
  .profile__info {
    justify-content: center;
  }
}
