.popup__user-description {
  width: 84%;
  height: 27px;
  margin: 0 0 48px 0;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 650px) {
  .popup__user-description {
    margin-bottom: 45px;
  }
}
